.btn-primary:hover {
    background-color: #fff;
    color:#000;
}
.navbar-expand-md{
    background-color: #BF5700;
    color: #fff;
}

.btn-primary {
    background-color: #333f48
}

.card-img-top {
    width: 100%;
}