<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
		
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>
    <body>

    <nav class="navbar sticky-top navbar-expand-md navbar-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                <a class="navbar-brand" href="{{url_for('index')}}"> Austin Eats! </a>
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="{{url_for('index')}}">Home</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="{{url_for('about')}}">About</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="{{url_for('restaurant')}}">Restaurants</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('event')}}">Events</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('bar')}}">Bars</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="{{url_for('city')}}">Cities</a>
                </li>
              </ul>

          </div>
        </div>
      </nav>

      <br>
      <h1>About the Austin Eats! Team (Group 6)</h1>
      <div class="container-fluid">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="card" style="width: 18rem;">
                  <img src="../static/images/daniel.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Daniel Sung</h5>
                    <p class="card-text">Daniel Sung is the back-end developer for our team. His major is Environmental Engineering. <br> No. Commits: 17 <br> No. Issues: 19 <br> No. Unit Tests: 3</p>
					<a href="https://www.cs.utexas.edu/users/dhs858/">Daniel's Webpage</a>
                  </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="card" style="width: 18rem;">
                  <img src="../static/images/john.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">John Kelly</h5>
                    <p class="card-text">John Kelly is the back-end developer for our team. His major is Mechanical Engineering. <br> No. Commits: 10 <br> No. Issues: 5 <br> No. Unit Tests: n/a</p>
					<a href="https://www.cs.utexas.edu/users/jrk3258/">John's Webpage</a>
                  </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="card" style="width: 18rem;">
                  <img src="../static/images/laura.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Laura Nguyen</h5>
                    <p class="card-text">Laura Nguyen is the front-end developer for our team. Her major is MIS. <br> No. Commits: 10 <br> No. Issues: 11<br> No. Unit Tests: 3</p>
					<a href="https://www.cs.utexas.edu/users/lmn782/">Laura's Webpage</a>
                  </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="card" style="width: 18rem;">
                  <img src="../static/images/yuyi.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Yuyi Liu</h5>
                    <p class="card-text">Yuyi Liu is the back-end developer for our team. Her major is Math. <br> No. Commits: 17 <br> No. Issues: 15<br> No. Unit Tests: 12</p>
					<a href="https://www.cs.utexas.edu/users/yl33823/">Yuyi's Webpage</a>
                  </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="card" style="width: 18rem;">
                  <img src="../static/images/christian.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Christian Meza</h5>
                    <p class="card-text">Christian Meza is the front-end developer and leader for our team. His major is Mechanical Engineering. <br> No. Commits: 44 <br> No. Issues: 15<br> No. Unit Tests: 3</p>
					<a href="https://www.cs.utexas.edu/users/cmeza/">Christian's Webpage</a>
                  </div>
                </div>
            </div>

        </div>
        <br>
        <h3>Stats</h3>
        <ul>
            <li><img src="../static/images/unittest.png"></li>
            <li>Total No. Commits: 31</li>
            <li>Total No. Issues: 30</li>
            <li>Total No. Unit Tests: n/a</li>
            <li><a href="https://gitlab.com/yuyiliu0303/cs331e-idb/-/issues">GitLab Issue Tracker</a></li>
            <li><a href="https://gitlab.com/yuyiliu0303/cs331e-idb/-/tree/master">GitLab Repo</a></li>
            <li><a href="https://gitlab.com/yuyiliu0303/cs331e-idb/-/wikis/home">GitLab Wiki</a></li>
            <li><a href="https://speakerdeck.com/cmeza/cs-331e-group-6">Speaker Deck</a></li>
        </ul>
        <br>
        <h3>Our Data Sources</h3>
        <ul>
            <li>
                <p>Each API was scraped by finding the url of the APIs needed and requested a response from the API. We then wrote the response we got into a .json file for each of our pillars (events, cities, restaurants).</p>
            </li>
            <li>
                <a href="https://developer.ticketmaster.com/products-and-docs/apis/getting-started/">Ticketmaster</a>
            </li>
            <li>
                <a href="https://www.yelp.com/developers/documentation/v3">Yelp</a>
            </li>
            <li>
                <a href="https://data.world/kajalkrishan/austin-food-places">Austin Food Places</a>
            </li>
                        <li>
                <a href="https://public.opendatasoft.com/explore/dataset/cities-and-towns-of-the-united-states/api/?rows=50&refine.state=TX">Cities and Towns of the United States</a>
            </li>
        </ul>
        <br>
        <h3>Tools Used</h3>
        <ul>
            <li>GitLab</li>
            <li>Flask</li>
            <li>Bootstrap</li>
            <li>Google Cloud Platform</li>
            <li>Slack</li>
            <li>GitLab Wiki</li>
        </ul>
        <br>
    </div>
    </body>
</html>
