<!DOCTYPE html>
<html> 
  <head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  
	<body>
		<nav class="navbar sticky-top navbar-expand-md navbar-dark">
			<div class="container-fluid">
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
	
					<a class="navbar-brand" href="{{url_for('index')}}"> Austin Eats! </a>
				  <ul class="navbar-nav">
					  <li class="nav-item">
						  <a class="nav-link" href="{{url_for('index')}}">Home</a>
					  </li>
	
					  <li class="nav-item">
						  <a class="nav-link" href="{{url_for('about')}}">About</a>
					  </li>
	
					  <li class="nav-item">
						  <a class="nav-link" href="{{url_for('restaurant')}}">Restaurants</a>
					  </li>
	
					  <li class="nav-item">
						<a class="nav-link" href="{{url_for('event')}}">Events</a>
					</li>
	
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('bar')}}">Bars</a>
					</li>
				<li class="nav-item">
                    <a class="nav-link" href="{{url_for('city')}}">Cities</a>
                </li>	
				  </ul>
	
			  </div>
			</div>
		  </nav>
	
		
		<div class="container-fluid"></div>
		<h1>Bars</h1>
		
		<br>	
		<form action="{{url_for('bar')}}" method = "POST">
			<select id="sort" name="sortBy">
				<option value="name">bar</option>
				<option value="category">category</option>
				<option value="subcategory">sub-category</option>
				<option value="address">location</option>
				<option value="review_count">number of reviews</option>
			</select>
			<select id="order" name="order">
				<option value="ascending">ascending</option>
				<option value="descending">descending</option>
			</select>

			<input type='submit' name='submit' value='Sort'/>

			<input type='text' placeholder='Search' name='searchBy'/>
			<input type='submit' name='submit' value='Search'/>
		</form>
		<br>
		
	   	{% if bars == [] %}
			<p>No Bars are currently listed</p>	
		{% else %}
		<table class="table table-striped" BORDER="2">
			<thead class="thead-dark">
				<tr> 
					<th scope="col">Bar</th>  
					<th scope="col">Category</th>
					<th scope="col">Sub-Category</th>
					<th scope="col">Location</th>
					<th scope="col">Number of Reviews</th>
					<th scope="col">Phone #</th>
				</tr> 
			</thead>
			
			{% for i in bars.items %}
				<tr> 
					<td><a href="{{url_for('oneBar', bar = i.name)}}">{{i.name}}</a></td>
					
					<td>{{i.category}}</td>
					<td>{{i.subcategory}}</td>
					<td><a href="{{url_for('onecity', city = 'Austin')}}">{{i.address}}</a></td>
					<td>{{i.review_count}}</td>
					<td>{{i.phonenumber}}</td>
				</tr> 
			{% endfor %}
		</table>
		{% endif %}
	</div>
	
	<nav aria-label="PAGE NAVIGATION">
		<ul class="pagination justify-content-center">
			<li class="page-item">
				<a class="page-link" href="{{url_for('bar', page=bars.prev_num)}}">&laquo</a>
			</li>

			{% for page_num in bars.iter_pages() %}
				{% if page_num %}
					{% if bars.page == page_num %}
					<li class="page-item active">
						<a class="page-link" href="{{url_for('bar', page=page_num)}}">{{ page_num }}<span class="sr-only"></span></a>
					</li>
					{% else %}
					<li class="page-item">
						<a class="page-link" href="{{url_for('bar', page=page_num)}}">{{ page_num }}</a>
					</li>
					{% endif %}
				{% else %}
					<li class="page-item disabled"><a class="page-link" href='#'>...</a></li>
				{% endif %}
			{% endfor %}

			<li class="page-item"><a class="page-link" href="{{ url_for('bar', page=bars.next_num)}}">&raquo</a></li>
		</ul>
	</nav>

	
		
	</body>
</html>


