	
<!DOCTYPE html>

<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="description" content="ENTER DESCRIPTION HERE">
	<meta name="author" content="ENTER NAME HERE">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
	<nav class="navbar sticky-top navbar-expand-md navbar-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                <a class="navbar-brand" href="{{url_for('index')}}"> Austin Eats! </a>
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="{{url_for('index')}}">Home</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="{{url_for('about')}}">About</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="{{url_for('restaurant')}}">Restaurants</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('event')}}">Events</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('bar')}}">Bars</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="{{url_for('city')}}">Cities</a>
                </li>
				
              </ul>

          </div>
        </div>
      </nav>
	  <br>
	  <br>
	<div class="container-fluid">
	<h1>{{event.short_title}}</h1>
	
	{% if events == [] %}
		<p>No Events Exist</p>	
	{% else %}
		<img src="{{event.event_image}}" alt="{{event.short_title}}" width = "300" height = "auto"/>
		<ul> 	
			<li>Location:<a href="{{url_for('onecity', city=event.venue_city)}}"> {{event.venue_city}}</a></li>
			<li>Address: {{event.venue_address}} </li>
			<li>Genre: {{event.type}}</li>
			<li>Timezone: {{event.timezone}} </li>
			<li>Date: {{event.date}} </li>
		</ul> 
	{% endif %}
	</div>
</body>
</html>
