<html>
	<head> 
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
		
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar sticky-top navbar-expand-md navbar-dark">
			<div class="container-fluid">
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
	
					<a class="navbar-brand" href="{{url_for('index')}}"> Austin Eats! </a>
				  <ul class="navbar-nav">
					  <li class="nav-item">
						  <a class="nav-link" href="{{url_for('index')}}">Home</a>
					  </li>
	
					  <li class="nav-item">
						  <a class="nav-link" href="{{url_for('about')}}">About</a>
					  </li>
	
					  <li class="nav-item">
						  <a class="nav-link" href="{{url_for('restaurant')}}">Restaurants</a>
					  </li>
	
					  <li class="nav-item">
						<a class="nav-link" href="{{url_for('event')}}">Events</a>
					</li>
	
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('bar')}}">Bars</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('city')}}">Cities</a>
					</li>
	
				  </ul>
	
			  </div>
			</div>
		  </nav>
		  <br>
		  <br>
		  <div class="container-fluid">
		<h1>City Details</h1>
		
		<img src="https://thumbor.thedailymeal.com/PwyJHJwEjH5fmjecR0l9Mp2-M5s=//https://www.thedailymeal.com/sites/default/files/2018/05/10/Hero_21%20thigns%20texas_Slide_Edit.jpg" alt="{{city}}" width = "300" height = "auto"/>
		
		{% if city == [] %}
			<p>No cities exist</p>	
		{% else %}
			<div> 
				<p>City: {{city.name}} <br/>
				County: {{city.county}} <br/>
				State: {{city.state}} <br/>
				Country: United States <br/>
				Population: {{city.pop_2010}} </p>
			<br/> <br/>
			</div>
		{% endif %}
		</div>
	</body>
</html>
