<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
		
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>
    <body>

      <nav class="navbar sticky-top navbar-expand-md navbar-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                <a class="navbar-brand" href="{{url_for('index')}}"> Austin Eats! </a>
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="{{url_for('index')}}">Home</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="{{url_for('about')}}">About</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="{{url_for('restaurant')}}">Restaurants</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('event')}}">Events</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('bar')}}">Bars</a>
                </li>
				
				<li class="nav-item">
                    <a class="nav-link" href="{{url_for('city')}}">Cities</a>
                </li>
              </ul>

          </div>
        </div>
      </nav>

      <br>

      <div class="container-fluid">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="card" style="width: 18rem;">
                  <img src="static/images/restaurant.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Restaurants</h5>
                    <p class="card-text">Explore Austin's local restaurants!</p>
                    <a href="{{url_for('restaurant')}}" class="btn btn-primary">Click Here</a>
                  </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-4">
                <div class="card" style="width: 18rem;">
                  <img src="static/images/bars.jpg" class="card-img-bottom" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Bars</h5>
                    <p class="card-text">Find new bars within the Austin!</p>
                    <a href="{{url_for('bar')}}" class="btn btn-primary">Click Here</a>
                  </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 18rem;">
                  <img src="static/images/events.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Events</h5>
                    <p class="card-text">See what's going on in Austin!</p>
                    <a href="{{url_for('event')}}" class="btn btn-primary">Click Here</a>
                  </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 18rem;">
                  <img src="static/images/cities.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Cities</h5>
                    <p class="card-text">View the cities you can explore!</p>
                    <a href="{{url_for('city')}}" class="btn btn-primary">Click Here</a>
                  </div>
                </div>
            </div>
        </div>

    </div>
    </body>
</html>